.home{
    width: 100%;
    /* background-image: linear-gradient(to left, #ffc0cbb9, #00800058); */
}
.home-container{
    min-height: 93vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-left{}
.home-left > h1{
    color: green;
}
.home-left > h2{}
.home-media-icons-card{
    display: flex;
    align-items: center;
}
.home-media-icons{
    font-size: 25px;
    margin-bottom: 30px;
    margin-right: 40px;
    background-color: green;
    color: white;
    padding: 8px 8px 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 4px black;
}
.home-book-button{
    border-radius: 5px;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    color: white;
    background-color: green;
    text-decoration: none;
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
}
.home-right{
}
.home-right-img{
    margin-top: 120px;
    width: 420px;
}

@media screen and (max-width: 1000px) {
    .home-container{
        padding: 0 5vw;
    }
}

/* Pad */
@media screen and (max-width: 810px) {
    .home-right-img{
        width: 300px;
    }
}
/* Mobile */
@media screen and (max-width: 600px) {
    .home{
        width: 100%;
        /* background-image: linear-gradient(to left, #ffc0cbb9, #00800058); */
    }
    .home-container{
        flex-direction: column;
    }
    .home-left{
        width: 100%;
        margin-top: 100px;
    }

    .home-right-img{
        margin-top: 30px;
        width: 70vw;
    }
}



/**************** gallary ***************/
.homepage-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    opacity: 0.7;
    margin-block: 40px 20px;
}
.homepage-heading span{
    color: green;
}
.gallary{
    width: 100%;
}
.gallary-container{
    padding: 0 5vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.gallary-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000005b;
    transition: all 0.3s;
    cursor: pointer;
}
.gallary-images:hover{
    box-shadow: 1px 1px 6px #000000bc;
}

.image-model-full{
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
}
.image-model-close{
    padding: 20px;
    font-size: 35px;
    position: absolute;
    right: 10px;
    color: red;
    border-radius: 50%;
    cursor: pointer;
}
.image-model-full img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-image-more{
    width: 150px;
    background-color: green;
    padding: 10px;
    border: none;
    margin-block: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .homepage-heading{
        font-size: 30px;
    }
    .gallary-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}