.order{
    width: 100%;
}
.order-container{
    padding: 0 5vw;
    position: relative;
}
.order-girl-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.order-girl-image img{
    height: 100%;
    /* opacity: 0.8; */
}
.show-online{
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
    align-items: center;
}
.show-online-icon{
    width: 10px;
    height: 10px;
    background-color: red;
    margin-right: 10px;
    border-radius: 50%;
    animation: live 1s infinite ease;
}
.order-videocall-icon{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: white;
    padding: 10px 12px 5px 12px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}
@keyframes live {
    0%{box-shadow: 0 0 0 red;}
    100%{box-shadow: 0 0 4px 2px red;}
}

.order-center-element{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.order-not{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-not p{
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 0 5px white;
}
.order-not button{
    background-color: green;
    border: none;
    padding: 10px 70px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.order-online-timing{
    position: absolute;
    top: 10px;
}
.order-online-timing p{
   border-bottom: 1px solid black; 
}
.order-online-timing li{
    margin-block: 10px;
    font-weight: 700;
}


@media screen and (max-width: 600px) {
    .show-online{
        right: 20px;
    }
    .order-videocall-icon{
        left: 42%;
    }    
    .order-not p{
        font-size: 15px;
    }
    .order-not button{
        font-size: 15px;
    } 
    .order-online-timing{
        top: 5px;
    }
    .order-online-timing li{
        font-weight: 500;
    }
}