.admin-order{
    width: 100%;
}
.admin-order-container{
    padding: 20px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.admin-order-card{
    background-color: white;
    border-radius: 20px;
    margin-block: 20px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
}

.admin-order-image{
    height: 150px;
}
.admin-order-rext{
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.admin-order-select{
    padding: 5px 10px;
    width: 150px;
}
.admin-order-date{}