.admin-order{
    width: 100%;
}
.admin-order-container{
    padding: 20px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.admin-order-count{
    text-align: center;
}
.admin-order-card{
    background-color: white;
    border-radius: 10px;
    margin-block: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.admin-order-index{
    cursor: pointer;
}